
{{#*inline "html_inner"}}
<h1 style="margin-top: 0; text-align: left; font-size: 24px; font-weight: 700; color: #333333">
  Hey {{ name }},
</h1>
<p style="margin-top: 15px; font-size: 16px; line-height: 24px; color: #52525b">
  Congrats! You've been accepted to join the {{ registry_name }} beta.
</p>
<p style="margin-bottom: 15px; font-size: 16px; line-height: 24px; color: #52525b">
  {{ registry_name }} is a new JavaScript package registry that aims to make your life as a JavaScript developer easier. First class TypeScript support, automatic documentation generation, ESM-only packages, and a seamless publishing experience are just a few of the things {{ registry_name }} has to offer.
</p>
<p style="margin-bottom: 15px; font-size: 16px; line-height: 24px; color: #52525b">
  We're still actively developing {{ registry_name }} and would really appreciate your feedback. If you have any questions, comments, or concerns, please reach out to us at <a href="mailto:{{ support_email }}" style="color: #2563eb">{{ support_email }}</a>.
</p>
<table align="center" style="margin: 30px auto; width: 100%; text-align: center" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td align="center" style="font-size: 16px;">
            <a href="{{ registry_url }}waitlist?accepted" class="button" style="display: inline-block; color: #fff; text-decoration-line: none; line-height: 1.25; background-color: #2563eb; border-radius: 0.375rem; font-weight: 500; padding-left: 1.125rem; padding-right: 1.125rem; padding-top: 0.625rem; padding-bottom: 0.625rem">Try {{ registry_name }} now</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p style="margin-bottom: 5px; margin-top: 8px; font-size: 16px; line-height: 24px; color: #52525b">
  Cheers,
  <br>{{ registry_name }}
</p>
{{/inline}}
{{> base.html}}
